<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532593363719-th9rsvj9e64eu0evkfkcnd5ij8k6cip1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532593363719-th9rsvj9e64eu0evkfkcnd5ij8k6cip1</string>
	<key>API_KEY</key>
	<string>AIzaSyCe0mZ02NvzR1t5JPP9FSZHzEU3FowmmJU</string>
	<key>GCM_SENDER_ID</key>
	<string>532593363719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rentel.RentelReader.Cashier</string>
	<key>PROJECT_ID</key>
	<string>cashier-d567c</string>
	<key>STORAGE_BUCKET</key>
	<string>cashier-d567c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532593363719:ios:734f82bc91950732a153a2</string>
</dict>
</plist>